<form class="search-form"
      [formGroup]="stateForm"
      fxFlex fxShow=”true”
      fxHide.lt-md=”true”>
  <mat-form-field class="search-form-field" appearance="fill">
    <mat-label></mat-label>
    <input class="search-form-field-input"
           matInput
           type="text"
           formControlName="stateGroup"
           [matAutocomplete]="autoGroup"/>
    <div matPrefix class="icon-wrapper">
      <mat-icon>search</mat-icon>
    </div>
    <mat-autocomplete #autoGroup="matAutocomplete">
      <mat-optgroup *ngFor="let group of stateGroupOptions | async"
                    [label]="group.letter">
        <mat-option *ngFor="let name of group.names"
                    [value]="name">
          {{ name }}
        </mat-option>
      </mat-optgroup>
    </mat-autocomplete>
  </mat-form-field>
</form>
