.navbar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navbar-is-mobile .navbar-toolbar {
  position: fixed;
  z-index: 2;
}

h1.navbar-app-name {
  margin-left: 8px;
}

.navbar-sidenav-container {
  flex: 1;
}

.navbar-is-mobile .navbar-sidenav-container {
  flex: 1 0 auto;
}

.mat-list-item {
  min-width: 200px;
}

.spacer {
  flex: 1 1 auto;
}

mws-searchbar {
  flex: 6 1 auto;
}
