<mat-toolbar color="primary"
             class="navbar-toolbar"
             [class.app-is-mobile]="mobileQuery.matches">
  <button mat-icon-button
    type="button"
    aria-label="Toggle sidebar"
    (click)="handleMenuClick()">
    <mat-icon aria-label="Sidebar toggle icon">menu</mat-icon>
  </button>
  <a class="navbar-app-name" routerLink="home">{{ title }}</a>
  <span class="spacer"></span>
  <mws-searchbar></mws-searchbar>
  <span class="spacer"></span>
  <mws-menu></mws-menu>
</mat-toolbar>
